
<section class="contenedor-home" id="home">
    <div class="home-centro">
        <h1 class="home-titulo">Diseñamos páginas web exitosas y a medida de lo que necesites</h1>
    </div>
    <div class="contenedor-button">
        <form action="/registro" method="GET">
            <button class="boton-home">Registrate en animate !</button>
        </form>
    </div>
</section>

<!-- <section class="bg-theme">
        <div class="container">
            <div class="row">
                <div class="col-6 col-lg-3 col-md-6 sm-margin-30px-bottom">
                    <div class="counter-box">
                        <span class="icon margin-10px-bottom display-block text-white font-size36 xs-font-size30 xs-text-center"><i class="far fa-user"></i></span>
                        <h4 class="countup text-white display-block xs-text-center">250</h4>
                        <div class="separator-line-horrizontal-medium-light3 bg-white margin-15px-tb xs-margin-10px-tb opacity5 center-col"></div>
                        <p class="font-size18 sm-font-size16 font-weight-600 text-white no-margin text-center">Clietes satisfechos</p>
                    </div>
                </div>
                <div class="col-6 col-lg-3 col-md-6 sm-margin-30px-bottom">
                    <div class="counter-box">
                        <span class="icon margin-10px-bottom display-block text-white font-size36 xs-font-size30 xs-text-center"><i class="fas fa-desktop"></i></span>
                        <h4 class="countup text-white display-block xs-text-center">350</h4>
                        <div class="separator-line-horrizontal-medium-light3 bg-white margin-15px-tb xs-margin-10px-tb opacity5 center-col"></div>
                        <p class="font-size18 sm-font-size16 font-weight-600 text-white no-margin text-center">Páginas web realizadas</p>
                    </div>
                </div>
                <div class="col-6 col-lg-3 col-md-6">
                    <div class="counter-box">
                        <span class="icon margin-10px-bottom display-block text-white font-size36 xs-font-size30 xs-text-center"><i class="fas fa-headset"></i></span>
                        <h4 class="countup text-white display-block xs-text-center">3300</h4>
                        <div class="separator-line-horrizontal-medium-light3 bg-white margin-15px-tb xs-margin-10px-tb opacity5 center-col"></div>
                        <p class="font-size18 sm-font-size16 font-weight-600 text-white no-margin text-center">Consultas de soporte</p>
                    </div>
                </div>
                <div class="col-6 col-lg-3 col-md-6">
                    <div class="counter-box">
                        <span class="icon margin-10px-bottom display-block text-white font-size36 xs-font-size30 xs-text-center"><i class="fas fa-trophy"></i></span>
                        <h4 class="countup text-white display-block xs-text-center">180</h4>
                        <div class="separator-line-horrizontal-medium-light3 bg-white margin-15px-tb xs-margin-10px-tb opacity5 center-col"></div>
                        <p class="font-size18 sm-font-size16 font-weight-600 text-white no-margin text-center">Casos de éxito</p>
                    </div>
                </div>
            </div>
        </div>
    </section> -->

<section id="about">
    <p class="titulos">¿Cómo empezó?</p>
    <div class="about__caja">
        <p class="about__p">Animate es un equipo conformado por cinco integrantes. Nos conocimos mientras
            estudiabamos para programadores Full Stack gracias a una beca recibida través de Fundación Pescar y J.P.
            Morgan.
            <br><br>
            Durante la capacitación, nos tocó hacer un proyecto juntos y nos dimos cuenta que cada uno tenia mucho
            potencial en una rama diferente.
            <br><br>
            Gracias a esto, nos unimos y hoy podemos brindar una asesoria integral con una visión completa en cada
            uno de nuestros proyectos.
        </p>
        <img class="about__img" src="img/logosAnimate/logo1.jpg" alt="fotodellogo">
    </div>
</section>

<section class="elTeam" id="team">
    <p class="titulos">Te presentamos al <strong class="strong-marca">TEAM</strong></p>
    <article class="contenedor__cards">
        <div class="card">
            <div class="card-ind">
                <div class="circulo"></div>
                <div class="img-cv">
                    <img src="img/fotocv/ana_foto_perfil.png" alt="foto_de_perfil_ana">
                </div>
            </div>
            <div class="presentacion">
                <h3>Ana Laura Mercado</h3>
                <h4>Diseñadora Grafica Digital</h4>
                <p>
                    ¡Hola!
                    <br>
                    ¿Tenes una idea pero no sabes si es posible?
                    <br>
                    Escribime y animate a hacerla realidad
                </p>
            </div>
            <div class="contacto">
                <a href="https://drive.google.com/file/d/1BY-Ez4o3-iHIXMG8bd5IAWda7k_31DB1/view?usp=sharing">
                    Visualizar CV
                </a>
            </div>
        </div>
        <div class="card">
            <div class="card-ind">
                <div class="circulo"></div>
                <div class="img-cv">
                    <img src="img/fotocv/galo_foto_perfil.png" alt="foto_de_perfil_galo">
                </div>
            </div>
            <div class="presentacion">
                <h3> Galo Olguin </h3>
                <h4> Programador BackEnd </h4>
                <p>¡Hola!
                    <br>¿Querés una base de datos segura e interactiva?
                    <br><br>
                    Escribime y animate a empezar
                </p>
            </div>
            <div class="contacto">
                <a href="https://drive.google.com/file/d/1BY-Ez4o3-iHIXMG8bd5IAWda7k_31DB1/view?usp=sharing">
                    Visualizar CV
                </a>
            </div>
        </div>
        <div class="card">
            <div class="card-ind">
                <div class="circulo"></div>
                <div class="img-cv">
                    <img src="img/fotocv/emilia_foto_perfil.png" alt="foto_de_perfil_emilia">
                </div>
            </div>
            <div class="presentacion">
                <h3>Emilia Luif</h3>
                <h4>
                    Programadora FrontEnd
                </h4>
                <p>
                    ¡Hola!<br>
                    ¿Querés un sitio profesional y fácil de usar?
                    <br><br>
                    Escribime y animate a digitalizarte
                </p>
            </div>
            <div class="contacto">
                <a href="https://drive.google.com/file/d/1BY-Ez4o3-iHIXMG8bd5IAWda7k_31DB1/view?usp=sharing">
                    Visualizar CV
                </a>
            </div>
        </div>
    </article>
    <article class="contenedor__cards2">
        <div class="card">
            <div class="card-ind">
                <div class="circulo"></div>
                <div class="img-cv">
                    <img src="img/fotocv/mario_foto_perfil.png" alt="foto_de_perfil_mario">
                </div>
            </div>
            <div class="presentacion">
                <h3>Mario Coria</h3>
                <h4>Analista de Ciberseguridad</h4>
                <p>
                    ¡Hola!
                    <br>
                    ¿Buscas que tu sitio sea seguro y confiable?
                    <br><br>
                    Escribime y animate a la seguridad digital
                </p>
            </div>
            <div class="contacto">
                <a href="https://drive.google.com/file/d/1BY-Ez4o3-iHIXMG8bd5IAWda7k_31DB1/view?usp=sharing">
                    Visualizar CV
                </a>
            </div>
        </div>
        <div class="card">
            <div class="card-ind">
                <div class="circulo"></div>
                <div class="img-cv">
                    <img src="img/fotocv/kevin_foto_perfil.png" alt="foto_de_perfil_kevin">
                </div>
            </div>
            <div class="presentacion">
                <h3>Kevin Ari</h3>
                <h4>Administración de Empresas</h4>
                <p>
                    ¡Hola!
                    <br>
                    ¿Buscas lograr el máximo beneficio de tu proyecto?
                    <br><br>
                    Escribime y animate a mejorar la productividad
                </p>
            </div>
            <div class="contacto">
                <a href="https://drive.google.com/file/d/1BY-Ez4o3-iHIXMG8bd5IAWda7k_31DB1/view?usp=sharing">
                    Visualizar CV
                </a>
            </div>
        </div>
    </article>
</section>

<!-- ACA EMPIEZA SERVICIOS -->

<section id="Servicios">
    <article class="dom-servicios">
        <div class="flex-titulo">
            <p class="titulos">¿Qué ofrecemos?</p>
        </div>

        <div class="flex-srv">
            <div class="servicio-unico">
                <img class="logos-servicios-base" src="img/logos-servicios/programacion-web.png" alt="">
                <h3 class="titulo-ind-srv">Diseño Web</h3>
                <h5 class="texto-srv">Realizamos un servicio de diseño web personalizado, profesional y detallista,
                    utilizando las últimas tendencias de UX y optimizadas para verse en dispositivos móviles.</h5>
            </div>
            <div class="servicio-unico">
                <img class="logos-servicios-2" src="img/logos-servicios/diseno-web.png" alt="">

                <h3 class="titulo-ind-srv">Desarrollo Web</h3>
                <h5 class="texto-srv">Desarrollamos tiendas online eCommerce con un diseño atractivo y efectivo,
                    para que puedas multiplicar tus ventas y que tu mejor local sea tu sítio web.</h5>
            </div>

            <div class="servicio-unico">
                <img class="logos-servicios-3" src="img/logos-servicios/wpo.png" alt="">
                <h3 class="titulo-ind-srv">Diseño Gráfico</h3>
                <h5 class="texto-srv">Tenemos conocimiento de branding y podemos ofrécele un servicio de diseño
                    gráfico en general, para que su marca se vea atractiva y profesional.</h5>
            </div>
            <div class="servicio-unico">
                <img class="logos-servicios-base" src="img/logos-servicios/SEO.png" alt="">
                <h3 class="titulo-ind-srv">SEO</h3>
                <h5 class="texto-srv">Garantizamos mejorar el posicionamiento de su sitio web en la lista de
                    resultados de los principales buscadores de internet.</h5>
            </div>
            <div class="servicio-unico">
                <img class="logos-servicios-5" src="img/logos-servicios/numeral.png" alt="">
                <h3 class="titulo-ind-srv">SMO</h3>
                <h5 class="texto-srv">Le ofrecemos un servicio para crear y gestionar sus campañas de Google
                    Adwords, Facebook ads e Instagram para obtener el mayor retorno posible.</h5>
            </div>
            <div class="servicio-unico">
                <img class="logos-servicios-6" src="img/logos-servicios/hosting.png" alt="">
                <h3 class="titulo-ind-srv">Web Hosting</h3>
                <h5 class="texto-srv">Alojamos tu sítio web al mejor precio del mercado. Nuestros servidores cuentan
                    con almacenamiento en Discos SSD y certificado SSL.</h5>
            </div>
        </div>
    </article>
</section>

<!-- ACÁ EMPIEZA OPORTUNIDADES -->
<section class="oportunidades" id="Oportunidades">
    <p class="titulos">Oportunidades</p>
    <p class="intro__oportunidades">
        En <strong class="strong-marca">animate</strong> creemos en la
        retroalimentación y en el buen karma, es por eso que trabajamos para acercarte todas las ofertas académicas
        en un solo lugar y puedas iniciarte en el mundo de la tecnología vos mismo
    </p>

    <article class="oportunidades__caja__cards">
        <div class="oportunidades__card">
            <div class="texto__oportunidades">
            <img class="img__oportunidades " src="img/fotocv/kevin_foto_perfil.png" alt="foto_de_perfil_kevin">
                <p class="titulo__organizacion">Fundación Pescar</p>
                <p class="descripcion__organizacion">Actualmente ofrecen becas completas en programación Full Stack y
                    Habilidades Blandas para una rápida inserción laboral</p>
                <p class="inscripcion__oportunidades">Inscripciones Abiertas</p>
                <a class="boton__oportunidades" href="http://www.pescar.org.ar/wp/">Ver más</a>
            </div>
        </div>
        <div class="oportunidades__card">
            <div class="texto__oportunidades">
                <img class="img__oportunidades " src="img/fotocv/kevin_foto_perfil.png" alt="foto_de_perfil_kevin">
                <p class="titulo__organizacion">Fundación Pescar</p>
                <p class="descripcion__organizacion">Actualmente ofrecen becas completas en programación Full Stack y
                    Habilidades Blandas para una rápida inserción laboral</p>
                <p class="inscripcion__oportunidades">Inscripciones Abiertas</p>
                <a class="boton__oportunidades" href="http://www.pescar.org.ar/wp/">Ver más</a>
            </div>
        </div>
    </article>
    



</section>



<section id="Opiniones">
    <p class="titulos"> Opiniones </p>
    <div class="opinion__contenedor">
        <div class="opinion__caja" id="slider-caja">
            <div class="opinion__caja__seccion">
                <img class="__seccion__img" src="img/fotocv/mario_foto_perfil.png" alt="">
                <div class="__seccion__contenido">
                    <p class="__seccion__texto">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit odit
                        quaerat reiciendis neque nam laboriosam quo sint cum dolorem? Unde doloremque voluptatem
                        quis blanditiis? Voluptates facere maiores quaerat fuga. Earum, iure accusantium! Cupiditate
                        inventore debitis ipsum labore, eius laudantium, odio doloremque iure excepturi numquam
                        nesciunt. Libero, qui architecto? Veritatis soluta natus numquam eveniet, ex iusto excepturi
                        esse iste dolor dolores facilis sed deleniti distinctio ullam qui totam eaque impedit
                        officiis? Officiis eveniet quae dolorum iusto.</p>
                    <p class="__seccion__nombre">Mario Coria</p>
                    <p class="__seccion__puesto">Empresario</p>
                    <a href="" class="__seccion__btn"> Visita mi WEB </a>
                </div>
            </div>
            <div class="opinion__caja__seccion">
                <img class="__seccion__img" src="img/fotocv/kevin_foto_perfil.png" alt="">
                <div class="__seccion__contenido">
                    <p class="__seccion__texto">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit odit
                        quaerat reiciendis neque nam laboriosam quo sint cum dolorem? Unde doloremque voluptatem
                        quis blanditiis?</p>
                    <p class="__seccion__nombre">Kevin Ari</p>
                    <p class="__seccion__puesto">Administrador de empresas</p>
                    <a href="" class="__seccion__btn"> Visita mi WEB </a>
                </div>
            </div>
            <div class="opinion__caja__seccion">
                <img class="__seccion__img" src="img/fotocv/emilia_foto_perfil.png" alt="">
                <div class="__seccion__contenido">
                    <p class="__seccion__texto">Voluptates facere maiores quaerat fuga. Earum, iure accusantium!
                        Cupiditate inventore debitis ipsum labore, eius laudantium, odio doloremque iure excepturi
                        numquam nesciunt. Libero, qui architecto? Veritatis soluta natus numquam eveniet, ex iusto
                        excepturi esse iste dolor dolores facilis sed deleniti distinctio ullam qui totam eaque
                        impedit officiis? Officiis eveniet quae dolorum iusto.</p>
                    <p class="__seccion__nombre">Emilia Luiff</p>
                    <p class="__seccion__puesto">Diseñadora</p>
                    <a href="" class="__seccion__btn"> Visita mi WEB </a>
                </div>
            </div>
        </div>
    </div>
    <div class="__caja__btn" id="btn-left">
        <!-- &#60; -->
    </div>
    <div class="__caja__btn" id="btn-right">
        <!-- &#62; -->
    </div>
</section>

<!-- ACÁ EMPIEZA CONTACTO -->
<section id="Contacto">
    <p class="titulos">¿Interesado?</p>
    <form action="correos.php" method="post">
        <div class="contacto-contenedor">
            <div class="contenedor-texto">
                <div class="contenedor-titulo">
                    <p>
                        Completá tus datos y nos contactaremos a la brevedad
                    </p>
                </div>
                <div class="label-nombre">
                    <label for="nombre">
                        <input class="input-nombre" type="text" name="nombre" id="nombre"
                            placeholder="Ingrese su nombre completo *" required>
                    </label>
                </div>
                <div class="labels-medio">
                    <label for="email">
                        <input class="input-medio" type="email" name="email" id="email"
                            placeholder="Ingrese su correo *" required>
                    </label>
                    <label for="telefono">
                        <input class="input-medio" type="tel" name="telefono" id="telefono"
                            placeholder="Ingrese su telefono *" required>
                    </label>
                </div>
                <div class="dropdown-motivo">
                    <label for="motivo">
                        <select class="dropdown" name="motivo" required>
                            <option value="" selected>Seleccione el motivo</option>
                            <option value="">Quiero potenciar mi página</option>
                            <option value="">Quiero digitalizar mi emprendimiento</option>
                            <option value="">Otros</option>
                        </select>
                    </label>
                </div>
                <label for="texto">
                    <textarea name="texto" class="label-texto" id="texto" placeholder="Escriba su consulta *"
                        required></textarea>
                </label>
                <button class="boton-enviar">ENVIAR MENSAJE</button>
            </div>
    </form>
    <div class="contenedor-tel-mapa">
        <a class="contacto-seccion">
            <div class="mini-contenedor">
                <p><img src="img/iconos-contacto/phone.png"></p>
                <p class="titulo-seccion">TELEFONO</p>
                <p>(+54) 1139116748</p>
            </div>
            <div class="mini-contenedor">
                <p><img src="img/iconos-contacto/envelope.png"></p>
                <p class="titulo-seccion">EMAIL</p>
                <p>contacto@animate.com</p>
            </div>
        </a>
        <div class="mapa">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3282.2548657348316!2d-58.379070584354295!3d-34.64826588044798!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bccb522cff3569%3A0x2ae285e31e7380fd!2sCalifornia%202082%2C%20C1289AAP%20CABA!5e0!3m2!1ses!2sar!4v1667918009651!5m2!1ses!2sar"
                width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade" class="map"></iframe>
        </div>
    </div>
    </div>
</section>
