@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --color-texto: #000000;
    --color-nav: #D90062BF;
    --color-btn: #D90062;
    --transparencia: #FFFFFF80;
    --transparencia2: #00000080;
    --color-gris100: #CCCCCC;
    --color-gris150: #222222;
    --color-gris200: #666666;
    --color-gris300: #333333;
    --color-gris500: #222222;
    --color-gris700: #14192D;
    --color-celeste: #509EE3;
    --color-fondo-nav: rgba(20, 25, 45, 1);
    --color-footer: #501464;
    --color-blanco: #FFFFFF;
    --color-blanco2: #F3F3F3;
    --fondo-home: url(../img/img-home/fondo-home.jpg)
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

html{
    scroll-behavior: smooth;
}

section[id]{
    scroll-margin-top: 8vh;
}

body::-webkit-scrollbar {
    width: 10px;
    /* Tamaño del scroll en vertical */
    height: 0px;
    /* Tamaño del scroll en horizontal */
    /* Ocultar scroll */
}

body::-webkit-scrollbar-track{
    background-color: var(--color-sec);
}

body::-webkit-scrollbar-thumb {
    background: var(--color-btn);
}

.titulos {
    font: var(--font-titulo);
    max-width: 35vw;
    text-align: center;
    border-top: 3px solid var(--color-btn);
    border-bottom: 3px solid var(--color-btn);
    color: var(--color-sec);
    line-height: 2.5;
    margin: 2rem 0 2rem 0;
}

.botones{
    border: none;
    background-color: var(--color-btn);
    font: var(--font-btn);
    color: var(--color-blanco);
    padding: .8rem;
    border-radius: 24px;
    cursor: pointer;
    transition: .5s;
}

.botones:hover{
    color: var(--color-btn);
    background-color: var(--color-sec);

}

.ancoras-btn{

}

.pestaña{
    padding-top: 50px;
}