<section class="registro pestaña">
    <p class="titulos">Registro</p>

    <form class="registro__form" action="/registro/" method="POST">

        <div class="registro__form__caja">
            <div class="registro__form__inputs">
                <label for="name">Nombre</label>
                <input type="text" class="__inputs__campo" name="nombre" id="name" placeholder="Animate" required>
            </div>
            <div class="registro__form__inputs">
                <label for="lastName">Apellido</label>
                <input type="text" class="__inputs__campo" name="apellido" id="lastName" placeholder="Digital" required>
            </div>
            <div class="registro__form__inputs">
                <label for="email">Email</label>
                <input type="email" class="__inputs__campo" name="email" id="email" placeholder="animatedigital@gmail.com" required>
            </div>
            <div class="registro__form__inputs">
                <label for="job">Empresa</label>
                <input type="text" class="__inputs__campo" name="empresa" id="job" placeholder="Animate" required>
            </div>
            <div class="registro__form__inputs">
                <label for="password">Contraseña</label>
                <input type="password" class="__inputs__campo" name="contra" id="password" required>
            </div>
            <div class="registro__form__inputs">
                <label for="validatePassword">Confirmar Contraseña</label>
                <input type="password" class="__inputs__campo" name="validatePassword" id="validatePassword" required>
            </div>
        </div>
        <button type="submit" class="botones">¡ Registrarme !</button>
    </form>

</section>